.textboxNaranja{
   border:2px dashed #F7730E; 
    border-radius: 25px;
    width: 215px;
	height: 25px;
	padding-left: 10px;
    font-family: 'Schoolbell';
	font-size: 18px;
	color: #036;
}


#azul{
    font-family: 'Schoolbell';
	font-size: 20px;
    color: #007B9B;
}

#boton_enviar{
    width: 117px;
	height: 117px;
}

#login{
    background-image: url(imagenes/fc_home.png);
    background-repeat: no-repeat;
    background-size:100%; 
    
}
#inventario{
    background-image: url(imagenes/fc_cescolar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 782px;
    
}

.tabla{
height:635px;
width:100%;
position:fixed;
bottom:0;
left: 0;
}