body{
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQYV2NkIBIwgtT9z2f4zziRAczGBfBKImvCqhCbDThNRFdMmtVEeYYYRSBPkWY1MWEOAC+wDwuIiuZ3AAAAAElFTkSuQmCC)
       repeat;
}


table{
    margin-top: 30px;
    border-color: aqua;

}

#azulRey{
    font-family: 'Schoolbell';
    color: #0413B3;
    text-align: center;
}
