body{
        font-family: Candara, courier;
    color:#252526;
    padding-left: 30px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Candara, courier;
    color:#85A4A8;

}
h3{
    font-family: Candara, courier;
    color:#C4214D;
    padding-left: 93px;

}
p{
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
    color:#423841;
}

#larger{
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
    font-size: larger;
    color:#423841;

    
}
li{
    padding-left: 170px;
    padding-right: 100px;
    color:#4f4f4f;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;    
}

.inicio{
    margin-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    
}
.agua {
    opacity: 0.8;
    margin-left: 45%;

}
