/* carousel container */
#template-carousel .carousel-inner {
    height: 394px; /* actual value, customize it */
   }


#titulos{
	
	font-size:x-large;
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

		color:#FFBF01;
		
		}
		#titulosPrincipales{
		font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

		color:#FFBF01;
		font-size:xx-large;

	
}

footer{
	font-size:small;
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
color:#FFCC00;
}
p{
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        padding-left:230px;
        padding-right: 200px;

	}
	#color{
	color:#FFBF01;

}