<form class="col s12" method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" >
      <div class="row">
          <div class="col s10"></div>
          <div class="col s1">
            <div class="input-field">
          <input placeholder="3" id="eliminarId" type="text" class="validate" name="eliminarId">
          <label for="id">ID</label>
          <button class="btn waves-effect waves-light cyan darken-2 right small" type="submit" name="action" class="amber darken-4"  >Eliminar</a></button>
        </div>
        </div>
          <div class="col s1"></div>
      </div>
      
      
      </form>