 <footer>Centro de Educación Científica S.A. de C. V. Beethoven 102-A Zona Centro Celaya, Gto. Tel: (461) 612 2045 Celular: 045 (461) 619 5455

Mundo Interactivo, sus logotipos, sus nombres comerciales y programas de educación son marcas registradas y son propiedad de Centro de Educación Científica S.A. de C.V. 
©Centro de Educación Científica S.A. de C.V., Todos los derechos reservados.   Aviso de Privacidad</footer>
             
         
        </main>
           <!--Import jQuery before materialize.js-->
      <script src="sweetalert/dist/sweetalert.min.js"></script> 
      <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize.min.js"></script>
      <script type="text/javascript" src="javascript.js"></script>
    
     </body>
     
     
</html>
    