<p id="preguntas"¿Qué es ODBC y para qué es útil?</p>
<p>Open Data Base Conectivity es una interfaz de Microsoft para recuperar registros de una base de datos en un entorno heterogéneo de sistemas relacionales y no relacionales de manejo de base de datos. </p>
<p id="preguntas">¿Qué es SQL Injection?</p>
<p>Es una técnica maliciosa mediante la cual un intruso puede insertar comandos de SQL en tu código a través de un input en tu página web, esto afecta la seguridad e integridad de tu base de datos. </p>
<p id="preguntas">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</p>
<p>Usando parámetros de SQL en los inputs.  </p>
<p id="preguntas">Referencias:</p>
<p>https://support.microsoft.com/es-mx/kb/110093</p>
<p>http://www.w3schools.com/sql/sql_injection.asp</p>
