
 <ul id="dropdown1" class="dropdown-content">
  <li><a href="despliegaMateriales.html">Materiales</a></li>
  <li><a href="despliegaUsuarios.html">Usuarios</a></li>                 
  <li><a href="#!">Nivel A</a></li>
  <li><a href="#!">Nivel B</a></li>
  <li><a href="#!">Nivel C</a></li>
  <li><a href="#!">Franquicias</a></li>
</ul>
                 
 <ul id="dropdown2" class="dropdown-content">
  <li><a href="despliegaInventario.html">Matriz</a></li>
  <li><a href="#!">Franquicia Qro</a></li>
  <li><a href="#!">Franquicia León</a></li>
  
</ul>
                 
<nav>
  <div class="nav-wrapper teal lighten-4 red-text">
    <a id="menu" href="pagina_inicio_SA.html" class="brand-logo"><img src="imagenes/logoSinFondo.png" id="logoMenu"></a>
    <ul class="right hide-on-med-and-down">
      <li><a id="menu" class letra href="#!">Calendario</a></li>
      <li><a id="menu" href="#!">Solicitud de Compras</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" id="menu" href="#!" data-activates="dropdown2">Inventario<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" id="menu" href="#!" data-activates="dropdown1">Plantilla de negocio<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

        <h2>Agrega nuevo material</h2>
                 
                 <br><br>
  <div class="row">
    <form class="col s12" method="POST" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" >
      <div class="row">
          <div class="col s3"></div>
        <div class="input-field col s3">
          <input placeholder="Ej: Lapiz No. 5" id="NombreMaterial" type="text" class="validate" name="nombre" required>
          <label for="NombreMaterial">Nombre</label>
        </div>
          <div class="col s5"></div>
      </div>
        <div class="row">
          <div class="col s3"></div>
        <div class="input-field col s3">
          <input placeholder="Ej: 500" id="NumeroExistencia" type="text" class="validate" name="numExistencia" required>
          <label for="NumeroExistencia">Número de Existencia</label>
        </div>
          <div class="col s1">
            <div class="input-field col s12">
            <select name="unidades">
              <option value="piezas">piezas</option>
              <option value="mL">mL</option>
              <option value="L">L</option>
              <option value="g">g</option>
                
            </select>
            <label>Unidades</label>
            </div>
          </div>
            
            <div class="input-field col s1">
          <input placeholder="Ej: 5" id="PrecioUnitario" type="text" class="validate" name="precioUnitario"required>
          <label for="PrecioUnitario">Precio Unitario</label>
        </div>
             <div class="col s1">
            <div class="input-field col s12">
            <select>
              <option value="1">MXN</option>
              <option value="2">USD</option>            
            </select>
            <label>Unidades</label>
            </div>
          </div>
            
            
          <div class="col s3"></div>
      </div>
    
  
        <div class="row">
              <div class="col s3"></div>
            <div class="input-field col s3">
        <select class="icons" name="proveedor" >
          <option value="" disabled selected>Seleccione una opción</option>
          <option data-icon="imagenes/provprimo.png" class="circle" value='Primo'>Primo</option>
          <option data-icon="imagenes/provreyma.jpg" class="circle" value="Reyma">Reyma</option>
          <option data-icon="imagenes/provsanjorge.png" class="circle" value="San Jorge">San Jorge</option>
          <option data-icon="imagenes/provvinci.png" class="circle" value="Vinci">Vinci</option>
        </select>
        <label>Proveedor</label>
      </div>

              <div class="input-field col s3">
             <select class="icons" name="marca">
          <option disabled selected>Seleccione una opción</option>
          <option data-icon="imagenes/provprimo.png" class="circle" value="Primo">Primo</option>
          <option data-icon="imagenes/provreyma.jpg" class="circle" value="Reyma">Reyma</option>
          <option data-icon="imagenes/provsanjorge.png" class="circle" value="San Jorge">San Jorge</option>
          <option data-icon="imagenes/provvinci.png" class="circle" value="Vinci">Vinci</option>
        </select>
        <label>Marca</label></div>
              <div class=" col s2"></div>
      </div>
   
        <div class="row">
              <div class="col s3"></div>
                <div class="col s3">
                <div class="input-field">
                <select name="surtidor">
                  <option value="" disabled selected >Seleccione una opción</option>
                  <option value="Matriz">Matriz</option>
                  <option value="Franquicia">Franquicia</option>            
                </select>
                <label>Quién lo surte</label>
                </div>
              </div>

            
              <div class=" col s6"></div>
      </div>
        
        <div class="row">
              <div class="col s8"></div>
              <div class="col s1">
        <button class="btn waves-effect waves-light cyan darken-2" type="submit" name="action" class="amber darken-4"  >Guardar</a></button>
            </div>
              <div class="col s3"></div>
        </div>
            
        
        
        
        
        
        </form>
  </div>
  
 