
#white{
    background-color: white ;
    border-width:medium;
    border-color: #8e24aa;
    border-style: dashed;
    margin-top: 100px;
    border-radius: 25px;
    opacity: .7;
}

#logoInicio{
    height:180px;
    margin-top: 50px;
}
#mancha{
   height:180px;
    margin-top: 150px;
    margin-bottom: 10px; 
    margin-left: 50%;
    opacity:.7;
}

#cohete{
    height: 150px;
    margin-top: 100px;
    margin-left: 50%;
    opacity:.7;
    
}
#estrella{
    height:120px;
    margin-top: 50px;
    margin-bottom: 10px; 
    margin-right: 10%;
    opacity:.7;
    
}
footer{
    text-align: center;
    font-size: small;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    color: #174365;
    font-family: 'Raleway', sans-serif;
}

#logoMenu{
    height:50px;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px;
    height=50px;
}
#menu{
font-family: 'Raleway', sans-serif;
    color: #174365 ;
    font-size: 20px;
}

h2{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:#9c27b0;
}
#grafica{
    height:400px;
    margin-top: 130px;
    margin-bottom: 100px; 
    margin-left: 25%;
}