h2{
color:#593643;
font-family: 'Oswald', sans-serif;

}

.error{
    margin-left:0px;
    color:red;
}
body{
    margin-left: 100px;
}
#preguntas{
    color:#A65363;
    font-family: 'Oswald', sans-serif;

}
p{
        font-family: 'Dosis', sans-serif;

}

li{
    font-family: 'Dosis', sans-serif;
    margin-left: 120px;
}
