


        <br>
        <br>
        <button onclick="cuadrados()">Cuadrados y Cubos</button>
        <div id="demo"></div>
        
        <h3>Preguntas</h3>
        <p>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</p>
        <p>Muestra información del estado actual de php. </p>
        <li>INFO_CONFIGURATION: variables locales y maestros actuales.</li>
        <li>INFO_ENVIRONMENT: info de las variables de entorno.</li>
        <li>INFO_VARIABLES: variables predefinidas.</li>
        <p>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</p>
        <p>En cloud9 ninguna porque ya está en producción.</p>
        <p>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</p>
        <p>Porque se envian Requests al servidor mediante el protocolo HTTP y el servidor regresa una Response.</p>
        <script type="text/javascript" src="cuadrados.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        
         <form action="lab8.php" method="post">
        <div id='larger'>
                Nombre 1: <input type="text" name="name1" value=" "><br>
                </div>
        <input type="submit" class="boton">
        </form>
    </body>
  </html>