body{
        font-family: Candara, courier;
    color:#252526;
    padding-left: 30px;
}

button, .boton{
        font-family: Candara, courier;
        font-size: medium;
        color:#423841;
        background-color: #A3D7B0;
        margin-left: 300px;
        margin-top: 10px;
       
    
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Candara, courier;
    color:#85A4A8;

}
h3{
    font-family: Candara, courier;
    color:#4f4f4f;
    padding-left: 93px;

}
p{
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
    color:#423841;
}

#larger{
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
    font-size: larger;
    color:#423841;

    
}
li{
    padding-left: 170px;
    padding-right: 100px;
    color:#4f4f4f;
}
h2{
    text-align: center;    
}

#izq{
    text-align: left;
    font-size: 20px;
    padding-left: 93px;
}

#inicia{
    text-align: center;
    font-size: 25px;
    font-family: Candara, courier;
}
#centra{
    text-align: center;
}
#imagen{
    padding-left: 60px;
}
#mySelect, #mySelect1, #mySelect2, #mySelect3, #bfresa, #bmanzana, #bnaranja{
        margin-left: 100px;
}

.agua {
    position: absolute;
    bottom: 40px;
    right: 220px;
    width: 20px;
    opacity: 0.2;

}
#demo{
    margin-left: 200px;
    margin-top: 20px;
}