body{
   
          margin-left: 100px;

}
h2{
color:#593643;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}


p{
    font-family: 'Dosis', sans-serif;
    color:gray;

}

li{
    font-family: 'Dosis', sans-serif;
    margin-left: 120px;
}

#white{
    background-color: white;
    border-width: thin;
        border-color: coral;
    border-style: dashed;

}


table{
    margin-top: 30px;
    border-color: aqua;

}


#azulRey{
    font-family: 'Schoolbell';
    color: #0413B3;
    text-align: center;
}

#logo{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logoInicio{
    margin-top: 50px;
    margin-bottom: 50px;
}

#password, #first_name{
    background-color: white;   
}

#parrafo{
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Indie Flower', cursive;
}

#preguntas{
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Indie Flower', cursive;
    color:coral;
}
