<?php include("_header.html"); ?>

<div class="row">
    <div class="col s12 m12 l12">
        <a href="logout.php"><h6 class="right-align">Salir</h6></a>
    </div>
</div>

<h2>Sube tu imagen</h2>

<form action="index.php" method="post" enctype="multipart/form-data">
    <p>Sube tu imagen aquí</p>
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>


<?php echo "<img src=\"imagenes/$file\">"; ?>
<?php echo $actual;?>

<?php include("preguntas.html")?>
     
<?php include("_footer.html"); ?>
