<?php include("_header.html"); ?>

<div class="row">
   <div class="col s4"></div>
   <div class="col s4"><img src="imagenes/logoOvalo.png" height="200px" id="logoInicio"></div>
   <div class="col s4"></div>

</div>

                            
<div class=row>
    <div class="col s4"></div>
    <div class="col s4" id="white">
          <br>
          <br>
         <div class="row">
    <form class="col s12 m12 l12" action="login.php" method="POST">
               <div class="row">
                    <div class="input-field col s4"></div>
                    <div class="input-field col s4">
                <p>Usuario</p>
                        <input placeholder="Ej. BernardoO" id="first_name" type="text" class="validate" name="usuario">
                    </div>
                    <div class="input-field col s4"></div>
                 </div>
                 <div class="row">
                    <div class="input-field col s4"></div>
                    <div class="input-field col s4">
                        <p>Contraseña</p>
                        <input placeholder=" " id="password" type="password" class="validate" name="pass">
                    </div>
                    <div class="input-field col s4"></div>
                 </div>
                 
         </div>
         <?php if (isset($error)) :?>
                <div class="red-text"><?php echo $error ?></div>
            <?php endif ?>
         <div class="row">
            <div class="col s6"></div>
            <div class="col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action" class="amber darken-4">Ingresar
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col s3"></div>
         </div>
      </form>

   <div class="col s4"></div>                 
   </div>
</div>
        
<?php include("_footer.html"); ?>