<p id="preguntas">¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</p>
<p>Porque con unset liberas todas las variables que hayas declarado en tu sesión y destroy elimina todo el contenido (incluyendo los archivos) pero no libera las variables globales.</p>
<p id="preguntas">entre una variable de sesión y una cookie?
<p>Las variables de sesión están guardadas en el servidor y las cookies en la computadora del usuario. </p>
<p id="preguntas">¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?
<p>Cambian el nombre que le pones a la foto por un valor alfanumérico.</p>

<p id="preguntas">Referencias:
<p>http://stackoverflow.com/questions/4303311/what-is-the-difference-between-session-unset-and-session-destroy-in-php</p>
<p>http://www.w3schools.com/php/php_sessions.asp</p>

