body{
        font-family: Candara, courier;
    color:#252526;
    padding-left: 30px;
}

button{
        font-family: Candara, courier;
        font-size: medium;
        color:#252526;
    background-color:BABABF;

    
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Candara, courier;
    color:#4f4f4f;

}
h3{
    font-family: Candara, courier;
    color:#4f4f4f;
    padding-left: 93px;

}
p{
    text-align: center;
}
h2{
    text-align: center;    
}

#izq{
    text-align: left;
    font-size: 20px;
    padding-left: 93px;
}

#inicia{
    text-align: center;
    font-size: 25px;
    font-family: Candara, courier;
}
#centra{
    text-align: center;
}
#imagen{
    padding-left: 60px;
}
#mySelect, #mySelect1, #mySelect2, #mySelect3, #bfresa, #bmanzana, #bnaranja{
        margin-left: 100px;
}