.agua {
    position: absolute;
    top: 80px;
    right: 250px;
    width: 20px;
    height: 10px;
    opacity: 0.2;

}
p{
    margin-left: 60px;  
    margin-top: 20px;
    font-family: Candara, courier;
    margin-right: 60px;  


}

#div1 {
    width: 200px;
    height: 200px;
    margin-left: 600px;
    margin-top: 100px;
    border: 1px solid #aaaaaa;
    }
#divImg{
    width: 200px;
    height: 200px;
    margin-left: 600px;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Candara, courier;
    color:#4f4f4f;

}
button{
        font-family: Candara, courier;
        font-size: medium;
        color:#252526;
        background-color:BABABF;
}
li{
     margin-left: 100px;  
    margin-top: 20px;
}

h3{
    margin-left: 60px;  
    margin-top: 20px;
    color: gray;
    font-family: Candara, courier;

}